In [89]:
import pandas as pd
import math

In [90]:
df_resultat_20point = pd.read_csv('resultat_pour20points.csv', encoding='latin')

In [91]:
df_resultat_20point["temps_mis_execution"] = df_resultat_20point["temps_mis_execution"] / 1e9
df_resultat_20point.columns =['nb_chemin', 'nombre_de_generation', 'distance', 'temps_mis_execution_en_second']

In [92]:
min = df_resultat_20point["temps_mis_execution_en_second"].sum()/60
print("Temps total:",math.floor(min),"min",math.floor((min % 1) * 60),"sec")

Temps total: 38 min 4 sec

In [93]:
df_resultat_20point_moyenne = df_resultat_20point.groupby(["nb_chemin","nombre_de_generation"])[["distance","temps_mis_execution_en_second"]].mean().reset_index()

In [94]:

df_resultat_20point_moyenne

,nb_chemin,nombre_de_generation,distance,temps_mis_execution_en_second
0,21,60,13068.174485,0.017441
1,21,120,12772.214860,0.036469
2,21,500,12036.155964,0.136537
3,21,1000,11716.933089,0.255521
4,21,10000,10741.845287,2.558944
5,21,20000,10628.332104,5.205773
6,30,60,12682.521640,0.022113
7,30,120,12141.894209,0.042305
8,30,500,11378.029237,0.174638
9,30,1000,11222.187268,0.352044
10,30,10000,10474.618018,3.483515
11,30,20000,10211.429304,6.989295
12,33,60,12738.331196,0.023795
13,33,120,12172.603637,0.047123
14,33,500,11341.681257,0.193428
15,33,1000,10955.262274,0.384536
16,33,10000,10424.345978,3.819813
17,33,20000,10164.531189,7.674572
18,36,60,12587.085899,0.025961
19,36,120,12217.461090,0.051521
20,36,500,11577.984733,0.210207
21,36,1000,10863.337427,0.419845
22,36,10000,10280.068379,4.171738
23,36,20000,10121.874953,8.336827
24,39,60,12454.980742,0.027629
25,39,120,11882.765329,0.055093
26,39,500,11144.901445,0.225837
27,39,1000,10727.398740,0.451477
28,39,10000,10243.919687,4.501067
29,39,20000,10091.270941,9.025540
30,42,60,12226.772801,0.029955
31,42,120,11942.786729,0.059620
32,42,500,11207.548569,0.243045
33,42,1000,10691.234510,0.491453
34,42,10000,10209.266625,4.842727
35,42,20000,9963.998549,9.689356
36,60,60,11791.620743,0.054592
37,60,120,11449.010052,0.100391
38,60,500,10856.279261,0.403226
39,60,1000,10647.415445,0.720559
40,60,10000,9906.108954,7.181801
41,60,20000,9723.093933,14.590346
42,90,60,11520.400487,0.078355
43,90,120,11049.261518,0.138214
44,90,500,10507.826222,0.542234
45,90,1000,10293.680886,1.079564
46,90,10000,9791.600851,10.653101
47,90,20000,9599.292209,21.984824

In [95]:
mask_gen_60 = df_resultat_20point["nombre_de_generation"] == 60
mask_gen_120 = df_resultat_20point["nombre_de_generation"] == 120
mask_gen_500 = df_resultat_20point["nombre_de_generation"] == 500
mask_gen_1000 = df_resultat_20point["nombre_de_generation"] == 1000
mask_gen_10000 = df_resultat_20point["nombre_de_generation"] == 10000
mask_gen_20000 = df_resultat_20point["nombre_de_generation"] == 20000

In [96]:
df_resultat_20point[mask_gen_60].sort_values("distance")

,nb_chemin,nombre_de_generation,distance,temps_mis_execution_en_second
738,60,60,10193.474482,0.047430
851,90,60,10457.528883,0.073703
841,90,60,10641.855633,0.094667
847,90,60,10773.875450,0.078305
844,90,60,10814.993573,0.071109
...,...,...,...,...
10,21,60,13714.697245,0.016750
4,21,60,13798.179912,0.016969
256,33,60,13959.409612,0.023478
0,21,60,14042.103885,0.021661
19,21,60,14449.081238,0.015958

In [103]:
df_resultat_20point[mask_gen_120].sort_values("distance")

,nb_chemin,nombre_de_generation,distance,temps_mis_execution_en_second
876,90,120,9847.112986,0.132051
625,42,120,10079.085378,0.060620
875,90,120,10118.893015,0.130046
149,30,120,10270.578743,0.042485
878,90,120,10290.666789,0.141174
...,...,...,...,...
24,21,120,13305.850973,0.032528
32,21,120,13344.916767,0.044183
25,21,120,13450.014025,0.032971
34,21,120,13610.029348,0.044127
23,21,120,13680.738460,0.034443

In [104]:
df_resultat_20point[mask_gen_500].sort_values("distance")

,nb_chemin,nombre_de_generation,distance,temps_mis_execution_en_second
776,60,500,9419.088246,0.374180
644,42,500,9874.393765,0.243679
892,90,500,9894.265592,0.538129
898,90,500,10024.159783,0.531801
295,33,500,10140.645683,0.193751
...,...,...,...,...
170,30,500,12382.660453,0.173151
41,21,500,12495.962580,0.141846
58,21,500,12510.764118,0.127609
54,21,500,12534.560837,0.128199
45,21,500,12978.656023,0.138916

In [105]:
df_resultat_20point[mask_gen_1000].sort_values("distance")

,nb_chemin,nombre_de_generation,distance,temps_mis_execution_en_second
432,36,1000,8970.188212,0.421241
669,42,1000,9578.511262,0.490671
558,39,1000,9691.175989,0.453172
791,60,1000,9880.130068,0.753142
903,90,1000,9888.683249,1.036732
...,...,...,...,...
73,21,1000,12148.246240,0.262848
197,30,1000,12193.638656,0.355825
79,21,1000,12216.184102,0.283259
60,21,1000,12378.404605,0.244381
62,21,1000,12394.059605,0.251983

In [106]:
df_resultat_20point[mask_gen_10000].sort_values("distance")

,nb_chemin,nombre_de_generation,distance,temps_mis_execution_en_second
807,60,10000,8973.856202,6.909739
938,90,10000,9231.065373,10.376788
926,90,10000,9259.545449,11.081620
805,60,10000,9364.899163,7.057183
81,21,10000,9402.842826,2.481279
...,...,...,...,...
91,21,10000,11168.480844,2.429247
98,21,10000,11263.711927,2.730442
95,21,10000,11301.699347,2.844756
93,21,10000,11312.436464,2.419837
87,21,10000,11335.059285,2.630450

In [107]:
df_resultat_20point[mask_gen_20000].sort_values("distance")

,nb_chemin,nombre_de_generation,distance,temps_mis_execution_en_second
835,60,20000,9098.606942,15.511066
831,60,20000,9111.687909,14.105407
838,60,20000,9158.405588,14.361791
237,30,20000,9225.057323,7.003672
825,60,20000,9318.697208,14.746095
...,...,...,...,...
115,21,20000,10913.408589,4.898552
227,30,20000,10922.862884,7.011632
101,21,20000,10932.817658,5.191844
116,21,20000,11034.295515,4.879534
100,21,20000,11122.767617,5.680867

In [102]:
df_resultat_20point.describe()

,nb_chemin,nombre_de_generation,distance,temps_mis_execution_en_second
count,944.000000,944.000000,944.000000,944.000000
mean,43.093220,5030.508475,11160.209850,2.419833
std,19.611492,7275.374388,1036.904040,3.788796
min,21.000000,60.000000,8970.188212,0.015698
25%,30.000000,120.000000,10340.571197,0.058345
50%,36.000000,500.000000,10982.199971,0.352181
75%,42.000000,10000.000000,11888.935920,4.165693
max,90.000000,20000.000000,14449.081238,23.377211